<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico'/ >  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Finalytics</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/error.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300|Lobster|Roboto:700" rel="stylesheet">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </head>
    <body>
      <h1>Error 404</h1>
      <h2>{{error}}</h2>
    </body>

</html>
