<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='images/favicon.ico')}}"/ >  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Finalytics</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='https://fonts.googleapis.com/css?family=Montserrat:100,300|Lobster|Roboto:700')}}">

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </head>
    <body>
      <h1>Error 404</h1>
      <h2>{{error}}</h2>
    </body>

</html>
