    {% extends "userBase.html" %}
    {% block content %}
    <!--  MAIN  -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner carouselimage" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{{url_for('static', filename=images/stock2.jpg}}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><b>Finalytics</b></h1>
              <p><a class="btn btn-lg btn-finalytic" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <div class="overview">
      <div class="container text-center">
        <p class="banner">An all in one dashboard for financial portfolio visualization, analytics, and optimization.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="site-description" class="col-lg-6 col-lg-offset-3">
          <h2 class="description-title">Learn more about life as an intern</h2>
          <br>
          <p class="description-text">After initial orientation and training, you’ll start contributing to projects immediately. Managers will give you constructive feedback and career advice, and through work seminars and cultural and philanthropic events, you’ll gain even more insight into our culture here. You will also hear from leaders from across Bloomberg’s businesses throughout the course of the summer.</p>
          <br>
          <br>
          <h2 class="description-title">Learn more about the recruiting season and internship start dates in your area.</h2>
          <br>
          <p class="description-text">Global Technical Support (GTEC) provides support for the Bloomberg Professional service (the Terminal) and other Bloomberg products – addressing software, hardware, biometric security and networking challenges. 24/7. Global Customer Support (GCUS) gives our global clients live customer service and general assistance. We train our GTEC and GCUS interns to solve problems for clients, and give them the tools to do it.</p>
          <br>
          <br>
          <h2 class="description-title">Financial Products Internships</h2>
          <br>
          <p class="description-text">If the worlds of finance, news and technology excite you, this program is for you. You’ll get to work with our Sales and Analytics departments, which directly support our Terminal customers.</p>
        </div>
      </div>
    </div>


    {% endblock %}
